<!-- Nav bar -->
<nav id='nav' class='flex-row'>
  <div>
    <a href="/"><h4>Eric Glover</h4></a>
  </div>
  <div id='nav-links' class='flex-row'>
    <div>
      <a href="/blog"><h4>Blog</h4></a>
    </div>
  </div>
</nav>
