<!-- MY HOME PAGE -->
<!-- URL = http://tight-wine.surge.sh/ -->

<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <title>Eric Glover</title>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/normalize.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="/assets/styles.css"> -->
    <!-- <link rel="stylesheet" href="/assets/blog.css"> -->
  </head>
  <body>


    {{{body}}}
    
  </body>
</html>
