<!-- MY HOME PAGE -->
<!-- URL = http://tight-wine.surge.sh/ -->

<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <title>Eric Glover</title>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/normalize.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/blog.css">
  </head>
  <body>

    <!-- Nav bar -->
    <nav id='nav' class='flex-row'>
      <div>
        <a href="/"><h4>Eric Glover</h4></a>
      </div>
      <div id='nav-links' class='flex-row'>
        <div>
          <a href="/blog"><h4>Blog</h4></a>
        </div>
        <!-- TO BE ADDED LATER
        <div>
          <a href="#"><h4>Projects</h4></a>
        </div>
        -->
      </div>

    </nav>

    {{{body}}}

  </body>
</html>
