<!-- Main content -->
<main id='main-wrapper'>
  <!--we're attaching the background-image to the container -->
  <div id='main-container'>
    <section id='main-content' class='center flex-column'>
      <div class='content-wrapper'>
        <a href"#"><h1>Eric Glover</h1></a>
        <h5>Full Stack Developer</h5>
      </div>
      <!-- About me -->
      <hr>
      <hr>
      <hr>
      <article class='content-wrapper'>
        <header>
          <h2>About Me</h2>
        </header>
        <main>
          <p>My addiction to programming began with learning to make a flash game... and after my first bug I was hooked. So I took a class in C and found myself binge programming on the weekends. After I graduated I enrolled in <a href='http://www.vikingcodeschool.com/'>Viking Code School</a></p>
          <div class='center flex-column'>
            <p>Check me out on the interwebs </p>
            <div class='flex-row' id='links'>
              <a href='https://github.com/EricGlover'>Github</a>
              <a href='https://www.hackerrank.com/HoratioFox'>HackerRank</a>
            </div>
        </main>
        <footer>

        </fotter>
      </article>
    </section>
  </div>
</main>
