<!-- Main content -->
<main id='main-wrapper' class='container-fluid'>
  <section id='main-content' class='landing-grid'>
    <div class='lead'>
      <h1>Eric Glover</h1>
      <h5>Full Stack Developer</h5>
    </div>
    <!-- About me -->
    <article class='summary'>
      <header class='center'>
        <h2>About Me</h2>
      </header>
      <main>
        <p>My addiction to programming began with learning to make a flash game... and after my first bug I was hooked. So I took a class in C and found myself binge programming on the weekends. After graduating college launched my web development career by attending <a href='http://www.vikingcodeschool.com/'>Viking Code School</a> where I built lots of projects.</p>
        <p>I'm part of the web development team at <a href="https://www.knapheide.com/">Knapheide</a>, making custom applications in PHP.</p>
        <p>I spend most of my time tinkering with projects, reading various non-fiction, scheming, or watching Star Trek.</p>
      </main>
      <footer>
        <p>Check me out on the interwebs </p>
        <div id='links'>
          <a href="https://www.hackerrank.com/HoratioFox">
            <img src="/assets/HackerRank_logo.png" alt="hacker rank icon">
          </a>
          <a href='https://github.com/EricGlover'>
            <i class='fa fa-github fa-3x' aria-hidden="true"></i>
          </a>
          <a href='https://www.linkedin.com/in/eric-glover'>
            <i class='fa fa-linkedin-square fa-3x' aria-hidden="true"></i>
          </a>
          <a href="https://www.freecodecamp.org/ericglover">
            <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i>
          </a>
          <a href="http://exercism.io/EricGlover">
            <img src="/assets/exercism_icon.png" alt="exercism icon">
          </a>
        </div>
      </footer>
    </article>
  </section>
</main>
