<div
  style="display: flex; margin-top: 60px; flex-flow: row nowrap; justify-content: center; height: 100%; width: 100%; align-content: center; align-items: center">
  <iframe src="https://giphy.com/embed/sIIhZliB2McAo" width="480" height="304" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
  <!-- <p><a href="https://giphy.com/gifs/nyan-cat-sIIhZliB2McAo"></a></p> -->
</div>
<link rel="stylesheet" href="/stylesheets/styles.css">