<div class="row">
  <div class="col-xs-12">
    <h5>I'm sorry this area is currently...</h5>
    <p><strong>UNDER CONSTRUCTION</strong></p>
    <h5>Try back again later in....17 months</h5>
  </div>
</div>
<ol>
  <h5>Old Projects</h5>
  <li>
    <a href="projects/lca">LCA</a>
  </li>
</ol>
