$nav-height: 40px;
$screen-height: 800px;
//$screen-width: window.screen-width;
$secondary-color: white;
$primary-color: black;

/*FONTS*/
@font-face {
  font-family: "AndaleMono";
  src: url( "fonts/AndaleMono.ttf" );
}

//Global
* {
  box-sizing: border-box;
  font-family: 'AndaleMono', sans-serif;
  font-size: 16px;
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
    //padding: 0px;
  }
  h3,h4,h5{
    padding: 8px;
    margin: 0px;
  }
}

///Blog
//blog header
#main-wrapper{
  padding: 20px;
  background-color: #ddd;
  color: #111;
  #title{
    //background-color: grey;

  }
}
.post {
  background-color: white;
  border: 1px solid black;
  margin: 20px;
  header{
    //height: 30px;
    border-bottom: 1px solid grey;
    *{
      padding: 0px;
      margin: 8px;
    }
  }
  #detail{
    padding: 0px;
    margin: 12px;
    font-size: 12px;
  }
  section{
    p{
      font-size: 16px;
      font-family: serif;
      line-height: 1.6em;
      font-weight: lighter;
      padding-left: 14px;
      padding-right: 14px;
    }
    ul{
      //border-bottom: 1px dashed grey;
      list-style-type: none;

      li{
        list-style-type: none;
        //margin-left: 12px;
        font-size: 14px;
      }
    }
  }
}









//Nav Bar



.flex-row{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.content-wrapper{
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
}
.center{

}
#nav-links{
  .flex-row{
    justify-content: flex-start;
  }
  a{
    color: white;
    text-decoration: none;
  }
}
#nav{
  width: 100%;
  height: $nav-height;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: 'sans-serif';

  h4, a{
    padding: 0;
    margin: 0;
    color: #ddd;
    font-family: 'Arial', 'serif';
    font-weight: 100;
  }
}
