///Blog
.blog-post-card {
  margin-bottom: 30px;
  *:hover {
    cursor: pointer;
  }
  .card-body {
    min-height: 8rem;
  }
}
//TODO: figure out some better color schemes
//TODO: overhaul the blog page layouts
//TODO: add an aside bar listing the posts or something
body {
  background-color: lemonchiffon;
}
header {
  padding: 20px;
}
section {
  background-color: aliceblue;
  border: thin solid lemonchiffon;
  padding: 10px;
  #title,
  h3 {
    padding: 20px;
    text-decoration: underline;
  }
}
