/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.fullScreen {
  height: calc(100vh - 60px);
  width: 100%;
  // min-height: calc(100vh - 60px);
}
// .outline {
//   border: 5px solid green;
// }
.fixed-carousel-image {
  // max-height: 200px;
  // max-width: 200px;
  // min-height: 100px;
  // min-width: 100px;
  // margin: 20px;
  max-height: 300px;
  max-width: 100%;
}
.carousel-image-fix {
  width: 100%;
  height: auto;
}
.display {
  min-height: 200px;
  color: white;
  background-color: black;
  h1 {
    margin: 20px;
  }
}
.w-auto {
  width: auto;
}
.h-auto {
  // height: ;
  // max-height: 100%;
  height: auto;
  max-width: 100%;
  // margin: auto;
}
.responsive {
  max-height: 100%;
  width: auto;
}
.f-g-1 {
  flex-grow: 1;
}
.f-g-2 {
  flex-grow: 2;
}
.f-g-3 {
  flex-grow: 3;
}
.blog-post-card {
  margin-bottom: 30px;
  *:hover {
    cursor: pointer;
  }
  .card-body {
    min-height: 8rem;
  }
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
  border: 5px solid black;
}
