/*FONTS*/
@font-face {
  font-family: "Josefin";
  src: url('../JosefinSlab-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: "Josefin", monospace, sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

:root {
  --color1: #ddd8c4;
  --color2: #a3c9a8;
  --color3: #84b59f;
  --color4: #69a297;
  --color5: #50808e;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: rgba(255, 255, 255, 0.841);
}

.landing-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 2fr 1fr 2fr;
}

.lead {
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial";
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.summary {
  grid-row-start: 3;
  /* background-color: black; */
  margin: 40px;
}

.summary header {
  margin: 20px;
}

.summary p {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.summary footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.summary footer #links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary footer #links a {
  margin: 10px;
  color: inherit;
}

.summary footer #links a i,
.summary footer #links a img {
  max-width: 61px;
  max-height: 47px;
}

#main-wrapper {
  height: inherit;
  width: inherit;
  padding-top: 40px;
  background: var(--color2);
  background: linear-gradient(65deg, var(--color2) 0%, var(--color5) 100%);
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.small-img {
  height: 98px;
  width: auto;
  padding: 0px;
  margin: 0px;
}

.small-img img {
  height: 100%;
}