<div>
  <br>
  <div class="center">
    <h1>Bluejay</h1>
  </div>
  <div class="center">
    <h5>A classroom manager for teachers</h5>
  </div>
  <br>
  <p>Bluejay is a classroom manager app for teachers. Our team decided to make this as our final project for Viking Code School because we hoped that it would provide special education teachers with a tool to reward their students for good behavior in class and making positive steps towards correcting bad classroom habits. Specifically it's targeted towards middle school kids because other existing sites that filled a similar need target early elementary school children.</p>

  <h3 class='center'>Gallery</h3>
  <div class='project-image-box'>
    <div onclick="$('#project-img-modal1').modal('toggle')">
      <h5>Teachers create tasks for their student</h5>
      <img src="/assets/images/projects/Bluejay/tasksView2.png" alt="A screenshot from the game depicting picking up a space cat that gives you a giant laser gun">
    </div>
    <div onclick="$('#project-img-modal2').modal('toggle')">
      <h5>Teachers can assign these tasks to their students</h5>
      <img src="/assets/images/projects/Bluejay/classroomView.png" alt="A screenshot from the game showing the deathscreen. It displays stats and Pro-tips that mock the player">
    </div>
    <div onclick="$('#project-img-modal3').modal('toggle')">
      <h5>Students are notified in real-time of their assignments</h5>
      <img src="/assets/images/projects/Bluejay/notificationsView.png" alt="A screenshot from the game showing a squadron of alien ships flocking around a lead ship">
    </div>
    <div onclick="$('#project-img-modal4').modal('toggle')">
      <h5>Teachers offer their Students rewards!</h5>
      <img src="/assets/images/projects/Bluejay/rewardsView.png" alt="A screenshot of performance profile of the game, high fps = 60, lowest fps = 14">
    </div>


    </div>
    <div>

    <!-- Modal -->
    <div class="modal fade" id="project-img-modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teachers create tasks for their student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class='modal-images' src="/assets/images/projects/Bluejay/tasksView2.png" alt="A screenshot from the game depicting picking up a space cat that gives you a giant laser gun">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="project-img-modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teachers can assign these tasks to their students</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class='modal-images' src="/assets/images/projects/Bluejay/classroomView.png" alt="A screenshot from the game showing the deathscreen. It displays stats and Pro-tips that mock the player">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="project-img-modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">"Students are notified in real-time of their assignments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class='modal-images' src="/assets/images/projects/Bluejay/notificationsView.png" alt="A screenshot from the game showing a squadron of alien ships flocking around a lead ship">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="project-img-modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teachers offer their Students rewards!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class='modal-images' src="/assets/images/projects/Bluejay/rewardsView.png" alt="A screenshot of performance profile of the game, high fps = 60, lowest fps = 14">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <h5>Team members</h5>
    <p>Stephanie Baker Eric Glover Ian Halverson Andrew Senner</p>
  </div>
  <div>
    <h5>Tech</h5>
    <p>Used MERN Stack: MongoDB, Express, React, Node.js WebSockets were used to provide real-time notifications</p>
  </div>
  <div class='center' style='padding: 20px;'>
    <h5 style='padding: 20px;'><a href='http://classroom-bluejay.herokuapp.com'>Heroku Deployment</a></h5>
    <h5 style='padding: 20px;'><a href="https://github.com/EricGlover/Bluejay">Github</a></h5>
  </div>
</div>
