<!-- remove random brs later -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center text-center">
      <div class="jumbotron jumbotron-fluid">
          <h1 class="display-3">Projects</h1>
      </div>
    </div>
  </div>

  <!-- Recent Projects Section  -->

  <!-- Bluejay Display -->
  <div class="row">
    <div class="col-12">
      <!-- header -->
      <div class="carousel-head">
        <h1 class='display-3'><a href='https://www.github.com/ericglover/Bluejay'>Bluejay</a></h1>
        <h5 class='lead'>A classroom app for teachers</h5>
      </div>
    </div>
    <div class="col-12 col-lg-6 carousel-main">
      <div id="bluejayCarousel" class="carousel slide row-4 row-md-6 row-lg-8" data-ride="carousel" data-interval="3750" data-wrap="true">
        <div class="carousel-inner carousel-image-container row-4 row-md-6 row-lg-8">
          <div class="carousel-item active">
            <img src="/assets/images/projects/Bluejay/tasksView2.png" alt="A website showing a view of different tasks teachers can assign">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/Bluejay/classroomView.png" alt="Dragging a task and dropping it in a classroom to assign it to all the students.">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/Bluejay/notificationsView.png" alt="A view of all the notifications you've received, each notifications shows what that a student completed a task.">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/Bluejay/rewardsView.png"  alt="A view showing a reward ('Comfy Chair Time') that a teacher can assign.">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/Bluejay/createReward.png"  alt="A view showing a form being filled out to create a reward (the reward being created is 'Espresso').">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/Bluejay/rewardsView2.png"  alt="A view showing a reward ('President for a Day!') that a teacher can assign.">
          </div>
          <a style="color: black" class="carousel-control-prev" href="#bluejayCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a style="color: black" class="carousel-control-next" href="#bluejayCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 row-lg-8 carousel-footer">
      <!-- description -->
      <p class='lead'>Bluejay is a classroom manager app for teachers. Our team hoped that it would provide special education teachers with a tool to reward their students for good behavior in class and making positive steps towards correcting bad classroom habits. Specifically it's targeted towards middle school kids because other existing sites that filled a similar need target early elementary school children.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Stock Portfolio Sim Display -->
  <div class="row">
    <div class="col-12">
      <!-- header -->
      <div class="carousel-head">
        <h1 class='display-3'><a href='https://github.com/EricGlover/StockPortfolioSimulator'>Stock Portfolio Sim</a></h1>
        <h5 class='lead'>A stock portfolio simulator</h5>
      </div>
    </div>
    <div class="col-12 col-lg-6 row-lg-8 carousel-footer">
      <!-- description -->
      <p class='lead'>A single-page web app where you can trade tech stocks from 2016 and build as impressive of a portfolio as you can imagine. There's a simple Express server that handles scrubbing all the Quandl API stock data but all the functionality comes from the React app. Besides React the front-end also uses Redux and Material-UI. All the date logic is handled with Moment.js (thank the heavens for Moment.js).</p>
    </div>
    <div class="col-12 col-lg-6 carousel-main">
      <div id="stockCarousel" class="carousel slide row-4 row-md-6 row-lg-8" data-ride="carousel" data-interval="3750" data-wrap="true">
        <div class="carousel-inner carousel-image-container row-4 row-md-6 row-lg-8">
          <div class="carousel-item active">
            <img src="/assets/images/projects/StockPortfolioSimulator/portfolioScreen.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/StockPortfolioSimulator/tradeScreen.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/StockPortfolioSimulator/tradeScreen2.png"  alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/projects/StockPortfolioSimulator/transactionsScreen.png" alt="First slide">
          </div>
          <a style="color: black" class="carousel-control-prev" href="#stockCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a style="color: black" class="carousel-control-next" href="#stockCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- Old Projects Section -->
<!-- TODO: fix the dadgum flash game loading problem  -->
<!--
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center text-center">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Old Projects</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-6">
    <div class="old-project-container w-100">
      <div class='card' onclick='location.assign("/projects/lca")'>
        <div class='card-header'>
          <h5 class="card-title">Lazer Cat Attack</h5>
        </div>
        <div class="card-body">
          <p class="card-text">A Galaga Inspired Flash Game</p>
        </div>
        <div class="card-footer full-width-button">
          <button class='btn-default' onclick='location.assign("/projects/lca")'>Play</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<link rel='stylesheet' href='/stylesheets/portfolio.css'>
