<br>
<br>
<div class='row'>
  <div class='col-12 center'>
    <h2>Portfolio</h2>
  </div>
  <br>
  <br>
  <div class='col-12 text-center'>
    <h5>Recent Projects</h5>
  </div>
  <br>
  <br>
  <div class='col-12 text-center'>
    <p>Currently Under Construction....Check back soon</p>
  </div>
  <br>
  <br>
  <div class='col-12'>
    <h5 class='text-center'>Old Projects</h5>
    <br>
    <div class="card-group center">
      <div class='row'>
        <div class='card' onclick='location.assign("/projects/lca")'>
          <div class="card-body">
            <h5 class="card-title">Lazer Cat Attack</h5>
            <p class="card-text">Galaga Inspired Flash Game</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
