<div class="row">
  <!-- Main content -->
  <main id='main-wrapper' class='col-12 col-sm-10 col-lg-10'>
    <!-- Blog header -->
    <header id='title' class='col-12'>
      <!-- <h3>Blog</h3> -->
      <!-- hero image here? -->
    </header>

    <!-- Post -->
    <main>
      <!-- general format -->
      <article class='post'>
        <header>
          <h2>Title</h2>
          <h5 id='detail'>Date : 7/16/17 </h5>
        </header>
        <section>
          <h3>Section Header</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
        <section>
          <h3>Section Header</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
        <section>
          <h3>Section Header</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          {{>code code="var s = 'things';"}}
          <samp>This text is meant to be treated as sample output from a computer program.</samp>
        </section>
      </article>
    </main>
    <footer>
      {{>blogLinks}}
    </footer>
  </main>
  <aside class="col-1 col-sm2 col-lg-2">
    <p>things over here!!!!!</p>
  </aside>
</div>
