<ul>Posts
  <li><a href='/blog/47edaa7269d266e037079567291f0dda'>Quick HTML CSS Tip</a></li>
  <li><a href='/blog/2'>Making the most of Git</a></li>
  <li><a href='/blog/3'>Switches be damned, Rest, and Spread</a></li>
  <li><a href='/blog/4'>Asynchronous JS Programming Pitfall #1</a></li>
  <li><a href='/blog/5'>When to use recursion</a></li>
</ul>
