<div class='row'>
  <div class='col-12'>
    <br>
    <h2>Posts</h2>
    <br>
    <div class="card-group card-group-custom">
      <div class='row'>
        {{#each posts as |post|}}
          <div class='col-12 col-md-6 col-lg-3'>
            <div class='card' onclick='location.assign("/blog/{{post.link}}")'>
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.description}}</p>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<!-- Old scrap code -->

<!-- <ul>
  <li><a href='/blog/Quick-HTML-CSS-Tip-7367f5a80fc5fa80118e7a86751a4e72'>Quick HTML CSS Tip</a></li>
  <li><a href='/blog/Making-the-most-of-Git-a5b4775aa68bcc483c9155ced98ca4b9'>Making the most of Git</a></li>
  <li><a href='/blog/Switches-be-damned-Rest-and-Spread-ed14f497c32901e32b900e29019c8ec3'>Switches be damned, Rest, and Spread</a></li>
  <li><a href='/blog/Asynchronous-JS-Programming-Pitfall-1-4047dc17031186c82be6eed5a3e4474e'>Asynchronous JS Programming Pitfall #1</a></li>
  <li><a href='/blog/When-to-use-recursion-802347e1211b0eda372ca0345360ff6b'>When to use recursion</a></li>
  <li><a href='/blog/OOP-and-private-vars-in-JS-edcaf6524baa5f72528b84935e1db61e'>OOP and private vars in JS</a></li>
  <li><a href="/blog/Using-Generators-for-Dates-9752a54a516c0ff2f6bff57fb41bec0a">Using Generators for Dates</a></li>
  <li><a href="/blog/The-Challenge-of-Communication-d2bc9fd247c27341a9ad418a1e1a2ff9">The Challenge of Communication</a></li>
  <li><a href="/blog/Linked-Lists-and-Pigeons-08174b70c89f8fd8cc9c719b336e0edc">Linked Lists and Pigeons</a></li>
  <li><a href="/blog/A-not-so-quick-blog-about-Quicksort-c4897a7e05dd2b464e7de1f50f2eb167">A not so quick blog about Quicksort</a></li>
</ul> -->
