<ul>Posts
  <li><a href='/blog/Quick-HTML-CSS-Tip-7367f5a80fc5fa80118e7a86751a4e72'>Quick HTML CSS Tip</a></li>
  <li><a href='/blog/Making-the-most-of-Git-a5b4775aa68bcc483c9155ced98ca4b9'>Making the most of Git</a></li>
  <li><a href='/blog/Switches-be-damned-Rest-and-Spread-ed14f497c32901e32b900e29019c8ec3'>Switches be damned, Rest, and Spread</a></li>
  <li><a href='/blog/Asynchronous-JS-Programming-Pitfall-1-4047dc17031186c82be6eed5a3e4474e'>Asynchronous JS Programming Pitfall #1</a></li>
  <li><a href='/blog/When-to-use-recursion-802347e1211b0eda372ca0345360ff6b'>When to use recursion</a></li>
</ul>
